# Dependencies
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro & Build
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.husky/

# Environment & Secrets
.env
.env*.local

# OS & Misc
.DS_Store
*.pem
.idea/
.vscode/
*.tsbuildinfo
/godine-owner-app/Apks/*.apk

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
